/* colours and fonts */
* {
    font-family: "Roboto", Times, serif;
}

nav, .main {
    background-color: #1F2937;
}

nav a {
    color: #E5E7EB;
}


body {
    display: flex;
    flex-direction: column;
}

.section {
    border: 1px rebeccapurple solid;

    padding: 0 10rem;
}

.main,
.info,
.quote,
.action_call {
    /* background-color: aqua; */
    flex: 0 1 25rem;
    display: flex;
}

.info,
.quote {
    padding: 0 15rem;
}

nav {
    ul {
        padding: 0%;
        list-style-type: none;
        display: flex;
        gap: 1rem;
        justify-content: space-around;

        li {
            padding: 0 1rem;
            flex: 0 1 1rem;

            a {
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }


        li.logo {
            margin-right: auto;
            align-self: center;

            a>img {
                height: 3rem;
                align-self: center;
                filter: invert(24%) sepia(68%) saturate(7484%) hue-rotate(355deg) brightness(92%) contrast(121%);
            }
        }
    }
}

.main {
    justify-content: center;
    align-items: center;
    gap: 2rem;

    div {
        border: 1px black solid;
        flex: 1;
    }
}

.info {
    flex-direction: column;
    justify-content: center;
    gap: 0%;

    * {
        border: 1px black solid;
    }

    h2,
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        flex: 1;
        align-self: center;
        padding: 0%;
        margin: 0%;
    }

    ul {
        border: 1px red solid;
        list-style: none;
        flex: 5;
        gap: 1rem;
        padding: 0%;

        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;

            img {
                flex: 3 1 10rem;
            }

            p {
                flex: 1 1 1rem;
                text-align: center;
            }
        }
    }
}

.quote {
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    p {
        padding: 0%;
        margin: 0%;
    }

    p:first-child {
        font-size: xx-large;
    }

    p:last-child {
        align-self: flex-end;
        margin-right: 2em;
        font-size: x-large;
        font-weight: bolder;

    }

}

.action_call {

    flex: 0 1 20rem;
    justify-content: center;
    align-items: center;

    .action_wrap {
        flex: 1;
        padding: 3em 1em;
        background-color: cornsilk;
        border-radius: 16px;

        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 0%;

        div {
            padding: 0%;

            p {
                padding: 0%;
                margin: 0%;
            }

            p:first-child {
                font-size: large;
                font-weight: bolder;
            }
        }

        button {
            flex: 0 1 10em;
            all: unset;
            border: 2px red solid;
            padding: .5rem 3.5rem;
            font-size: larger;
            border-radius: 5%;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}